.THIS {
}

.THIS .containerTable {
    margin-top: 300px !important;
}
.THIS .wrapper{
    height: 300px !important;
    width: 80% !important;
    background-color: powderblue !important;
}
.THIS .fsize {
    font-size: 140% !important;
}
.THIS .Headersize {
    font-size: 100% !important;
}

.THIS .divAlignment {
    text-align:center;
}
.THIS  .buttonStyle {
    height: 25px;
    font-size: 9px;
}
.THIS.alert {
    text-align: center !important;
    font-size: 140% !important;
    color: red;
    
}