.THIS {
}

.THIS .chair
    {
    	display: inline-block;
        width: 24px;
    	height: 24px;
    	border: 1px dashed #060606;
    	margin: -25px 10px 0px 0px;
    }

.THIS .audiencelabel {
  background: #F4D03F;/* #5cb85c;*/
  -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.THIS .sectionLi{
    margin-left: 20px;
    display: inline-block;
}
.THIS .seatLabel{
     text-align: center;
    font-size: 10px;
}

.THIS .orangeBox {
	color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 8px;
    height: 7px;
    float: right;
    position: relative;
    bottom: 25px;
    cursor:pointer;
}

.THIS .bookedseat{
    background-color:#D5A69B !important;
}