.THIS {
}

.THIS .boothSeatlabel {
  background: #F4D03F;/* #5cb85c;*/
  -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
  animation-duration: 300ms;
  /*animation-fill-mode: both;*/
}

.THIS .Seatlabel {
     text-align: center;
    font-size: 10px;
    /*display: block;
    position: relative;
    width: 67px;/*100%;
   
    font-weight: 100;
    line-height: 1.5rem;
    padding: 4px 0;
    /*background: #F42536;
    border-radius: 5px;
    background-color: #2471A3;
    /*border-radius: 150px;
    border: 4px solid #D0D3D4;
    animation-duration: 300ms;
    animation-fill-mode: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
     color: white;*/

  }

.THIS .chair
    {
    	display: inline-block;
        width: 24px;
    	height: 24px;
    	border: 1px dashed #060606;
    	margin: -25px 10px 0px 0px;
    
    }
    
.THIS .orangeBox {
	color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 8px;
    height: 7px;
    float: right;
    position: relative;
    bottom: 25px;
    cursor:pointer;
}
.THIS .bookedseat{
    background-color:#D5A69B !important;
}